.forgot-page-container{
	width: 400px;
	height: 150px;
    margin: auto;
    margin-top: 10%;
}
.form-container{
    margin-top: 6%;
}
.page-title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.page-description{
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-container {
	margin: 5% 0% 0% 0%;
}
.text-field {
	width: 340px;
}

a{
    cursor: pointer;
}