.signup-page-container{
	width: 400px;
	height: 150px;
}
.login-page-container {
	width: 400px;
	height: 150px;
}
.button-container {
	margin: 5% 0% 0% 0%;
}
.text-field {
	width: 340px;
}

a{
    cursor: pointer;
}